root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{json,yml,yaml,xml,axaml,csproj,slnx,props,targets,runsettings,editorconfig}]
indent_size = 2

[*.cs]
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_property = false:warning
dotnet_diagnostic.IDE0005.severity = warning

[*.md]
trim_trailing_whitespace = false
